<footer class="bg-white rounded shadow p-5 mb-4 mt-4" th:fragment="footer">
    <div class="row">
      <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
        <p class="mb-0 text-center text-lg-start">
          © 2024 - <span class="current-year"></span>
          <a
            class="text-primary fw-normal"
            href="https://themesberg.com"
            target="_blank"
            >Tatros Innovations</a
          >
        </p>
      </div>
      <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
        <!-- List -->
        <ul
          class="list-inline list-group-flush list-group-borderless text-md-end mb-0"
        > 
          <li class="list-inline-item px-0 px-sm-2">
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Core -->
    <script th:src="@{/vendor/@popperjs/core/dist/umd/popper.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>
    
    <!-- Vendor JS -->
    <script th:src="@{/vendor/onscreen/dist/on-screen.umd.min.js}"></script>
    
    <!-- Slider -->
    <script th:src="@{/vendor/nouislider/dist/nouislider.min.js}"></script>
    
    <!-- Smooth scroll -->
    <script th:src="@{/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js}"></script>
    
    <!-- Charts -->
    <script th:src="@{/vendor/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    
    <!-- Datepicker -->
    <script th:src="@{/vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>
    
    <!-- Sweet Alerts 2 -->
    <script th:src="@{/vendor/sweetalert2/dist/sweetalert2.all.min.js}"></script>
    
    <!-- Moment JS -->
    <script th:src="@{/assets/js/smart_school_moment.min.js}"></script>
    
    <!-- Vanilla JS Datepicker -->
    <script th:src="@{/vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>
    
    <!-- Notyf -->
    <script th:src="@{/vendor/notyf/notyf.min.js}"></script>
    
    <!-- Simplebar -->
    <script th:src="@{/vendor/simplebar/dist/simplebar.min.js}"></script>
    
    <script async defer th:src="@{/assets/js/smart_school_buttons.js}"></script>
    
    <script th:src="@{/assets/js/click.js}"></script>
    <script th:src="@{/assets/js/smart_school.js}"></script>
   
  </footer>