<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{dashboard/fragments/head :: head}"></head>

  <body>
    <div th:insert="~{dashboard/fragments/header :: nav-toggler}"></div>
    <div th:insert="~{dashboard/fragments/header :: sidebar-nav}"></div>
    <main class="content">
      <!-- profile nav -->
      <div th:insert="~{dashboard/fragments/header :: profile-nav}"></div>

      <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
              <a href="#">
                <svg
                  class="icon icon-xxs"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  ></path>
                </svg>
              </a>
            </li>
            <li class="breadcrumb-item"><a href="#">SMS</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Update Password
            </li>
          </ol>
        </nav>
      </div>

      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
          <h1 class="h3 mb-4">Reset password</h1>
          <form action="#">
            <div class="mb-4">
              <label for="email">Your Email</label>
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  placeholder="example@company.com"
                  id="email"
                  required=""
                  disabled="disabled"
                />
              </div>
            </div>
            <div class="form-group mb-4">
              <label for="password">Your Password</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon2"
                  ><svg
                    class="icon icon-xs text-gray-600"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                      clip-rule="evenodd"
                    ></path>
                  </svg> </span
                ><input
                  type="password"
                  placeholder="Password"
                  class="form-control"
                  id="password"
                  required=""
                />
              </div>
            </div>
           
            <div class="d-grid">
              <button type="submit" class="btn btn-gray-800">
                Reset password
              </button>
            </div>
          </form>
        </div>
      </div>

      <footer th:insert="~{dashboard/fragments/footer :: footer}"></footer>
    </main>
  </body>
</html>
